html,
body,
.ant-layout,
#jaeger-ui-root,
#jaeger-ui-root > div {
  width: 100%;
  height: 100%;
}

.Page--content {
  width: 100%;
  height: 100%;
}

.Page--label {
  position: absolute;
  z-index: 5;
  top: 2%;
  left: 2%;
  right: 2%;
  text-align: right;
  font-weight: bold;
  font-size: 3rem;
}
